<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <h3> Kindly enter following values  </h3>
        <form action = "/submit" method = "post">
            <input type = "number" step="any"  name = "BounceRates" placeholder = "BounceRates" required = "required">
            <input type = "number" step="any" name = "ExitRates" placeholder = "ExitRates" required = "required">
            <input type = "number" step="any" name = "PageValues" placeholder = "PageValues" required = "required">
            <input type = "number" step="any" name = "SpecialDay" placeholder = "SpecialDay" required = "required">
            <input type = "number" step="any" name = "Weekend" placeholder = "Weekend" required = "required">
            <input type = "number" step="any" name = "Administrative_per_duration" placeholder = "Administrative_per_duration" required = "required">
            <input type = "number" step="any" name = "Informational_per_duration" placeholder = "Informational_per_duration" required = "required">
            <input type = "number" step="any" name = "ProductRel_per_dur" placeholder = "ProductRel_per_dur" required = "required">
            <input type = "text" name = "Month" placeholder = "Month" required = "required">
            <input type = "number" step="any" name = "Region" placeholder = "Region" required = "required">
            <input type = "number" step="any" name = "TrafficType" placeholder = "TrafficType" required = "required">
            <input type = "text" name = "VisitorType" placeholder = "VisitorType" required = "required">
            
       <button type = "submit"> Predict</button>
        </form>
    </body>

   
</html>